@{
    ViewData["Title"] = "Skapa Grupp";
}

    <div class="col-9 site-main-content rounded m-1">
        <article>
            <h1 class="h1">Skapa en ny grupp</h1>
            <p>Här kan du enkelt skapa en ny grupp för ditt firande. Det här behöver du ha tillgängligt innan du börjar:</p>
            <ul>
                <li>namn och mailadress för alla gruppdeltagare</li>
                <li>tid och datum för ert firande</li>
                <li>ett ungefärligt maxbelopp för presenter</li>
            </ul>
            <p>Är du redo? Tryck på knappen för att skapa din grupp!</p>
            <div>
                <button class="btn btn-primary">Skapa Grupp</button>
            </div>
        </article>
    </div>