/* colours */
/* #D7FFF1 Light Cyan */
/* #AAFCB8 Magic Mint */
/* #8CD790 Light Green */
/* #77AF9C Green Sheen */
/* #285943 Hunter Green */
:root {
    --link-text-color: #0366d6; /* Blue */
    --btn-primary-color: #D7FFF1; /* Light Cyan */
    --btn-primary-hover-color: #AAFCB8; /* Magic Mint */
    --btn-primary-txt-color: #285943; /* Hunter Green */
    --nav-bg-color: #285943; /* Hunter Green */
    --nav-brand-color: #AAFCB8; /* Magic Mint */
    --nav-text-color: #77AF9C; /* Green Sheen */
    --page-content-bg-color: #8CD790; /* Light Green */
    --page-bg-color: #AAFCB8; /* Magic Mint */
    --page-text-color: #285943; /* Hunter Green */
}

body {
    background-color: var(--page-bg-color);
    color: var(--page-text-color);
}

.navbar {
    background-color: var(--nav-bg-color);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-light .navbar-brand {
    color: var(--nav-brand-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--nav-text-color);
}

/* Provide sufficient contrast against white background */
a {
    color: var(--link-text-color);
}

.btn-primary {
    color: var(--btn-primary-txt-color);
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
}

.btn-primary:hover, .btn-primary:focus {
    color: var(--btn-primary-txt-color);
    background-color: var(--btn-primary-hover-color);
    border-color: var(--btn-primary-hover-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* My styles */
.site-main-content {
    background-color: var(--page-content-bg-color);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
