@{
    ViewData["Title"] = "Hem";
}

<div class="col-9 site-main-content rounded">
    <article>
        <h1>Hemliga Presenter</h1>
        <div class="">
            <p>Här kan du skapa grupper för julklappsdragningar med dina vänner och din familj.</p>
            <p>Ni talar om för oss vilka som ska vara med, och vi sköter lottdragningen så att var och en bara får veta vem de själva ska ge en present.</p>
        </div>
        <img src="~/images/TomtePaketSq150.jpg" alt="Tomte med paket" class="img-fluid rounded"/>
    </article>
</div>